.container{
    display: flex;
    flex-direction: row;
}
.box {
    position: absolute;
    top:50%;
    left:50%;
    width: 600px;
    transform: translate(-50%, -50%);
    padding: 20px;
    box-sizing: border-box;
    display: flex;
}

.box .imgBx
{
    width: 150px;
    flex: 0 0 150px;
}

.box .imgBx img
{
    max-width: 100%;
}

.box .content
{
    padding-left: 20px;
}

.box .content p
{
 margin: 0;
 padding-left: 0;
}

.container .list {
    padding:0;
    display: flex;
}
